@use "variables";

.about__img{
    max-width: variables.$max-width;
    width: 80%;
    height: auto;
    margin: 10px;
    img{
            border-radius: 40px;
            margin-left: 10%;
    }
}